#Recommender Baseline HW1

Here we use Python to create a baseline recommender.  We created an "extra" matrix of 0s and 1s (data was given or skipped) in case we needed it for tracking, however in the end it was not used. It is left in for later potential iterations.

We follow the procedure outlined and recommend books to our readers. The data was stored on github and pandas dataframes were used for processing the data. Recommendations were made only if a respondant had NOT read the book already and the recommendation was a 3.5/5 or above.

In [13]:
import pandas as pd
import numpy as np

In [29]:
df1 = pd.read_csv('https://raw.githubusercontent.com/MatthewFried/Recommender_Systems/main/Wk1/Recommender_1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/MatthewFried/Recommender_Systems/main/Wk1/Recommender_2.csv')

#copy the names from the first column and clean things up
names = df1.iloc[:, 0].tolist()

#set the column names
df1.index = names
df2.index = names

#delete the row with the names
df1 = df1.iloc[: , 1:]
df2 = df2.iloc[: , 1:]

df1

,Neil_Gaiman,Ben_Aaronovitch,Agatha_Christie,Jodi_Taylor,Great_Courses,Dianna_Jones
A,5.0,4.0,2.0,NaN,NaN,4.0
B,4.0,NaN,3.0,NaN,5.0,NaN
C,NaN,2.0,NaN,4.0,1.0,3.0
D,3.0,3.0,4.0,2.0,NaN,4.0
E,4.0,4.0,NaN,4.0,NaN,5.0

In [30]:
def recommendation(df1,df2):

  numRows = df1.shape[0]
  numColumns = df1.shape[1]

  #find the averages
  row_mean = df1.mean(axis=1)
  column_mean = df1.mean(axis=0)
  overall_mean = np.mean(column_mean)

  #get the baselines
  baseline_row = row_mean - overall_mean
  baseline_column = column_mean - overall_mean

  #print(baseline_row,'\n\n',baseline_column,'\n\n',overall_mean)

  #make a copy of the values to fill in
  recommender_baseline = df1.copy(deep=True)

  #fill in average values
  for j in range(numRows):
    for i in range(numColumns):
      if pd.isna(df1.iloc[j,i]):
        recommender_baseline.iloc[j,i] = overall_mean + baseline_row[j] + baseline_column[i]

  #output recommendations if they haven't watched it and the rating is 3.5 or above
  for j in range(numRows):
    myList = []
    for i in range(numColumns):
      if pd.isna(df1.iloc[j,i]) and recommender_baseline.iloc[j,i] >=3.5:
        myList.append(df1.columns[i])
    print(df1.index[j], myList)

recommendation(df1,df2)

A ['Jodi_Taylor']
B ['Ben_Aaronovitch', 'Jodi_Taylor', 'Dianna_Jones']
C []
D []
E ['Agatha_Christie', 'Great_Courses']